    div.page {
        break-after: page;
    }

    /* 如果不設置，最後一區塊後面會多出一個空白頁 */
    div.page:last-child {
        break-after: auto;
    }

    table.forsp {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;

        // border-bottom-width: 1px;
        // border-bottom-style: solid;
        // border-bottom-color: black;

        th,
        td {
            border: 1px solid black;
            text-align: center;
        }
    }