main {
    table {
        width: 100%;
        // border: 0.25rem;
        // margin: 0.5rem 1rem;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: #278092;
        table-layout: fixed;
        /*列寬由表格寬度及列寬決定*/

        th {
            font-size: 1rem;
            font-weight: bolder;
            color: #E9F0E0;
            background-color: #278092;
        }

        th.tsmall {
            font-size: 0.75rem;
            font-weight: bolder;
            color: #E9F0E0;
            background-color: #278092;
        }

        tr:hover {
            background-color: #8be0f1;
        }

        tr.on td {
            background-color: greenyellow;
        }

        tr.print {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #ddd;
        }

        td {
            font-size: 1rem;
            text-align: right;
        }

        td.tsmall {
            font-size: 0.75rem;
            text-align: right;
        }

        td.td_center {
            text-align: center;

        }

        td.td_left {
            text-align: left;
        }


    }
}