<body>
    <!--
        /**
        * @author CXY
        * @version Create Time:2022年5月9日
        * @Description 订单管理作业
        *
        */
    -->
    <div class="loadContent">
        <section class="first70">
            <input id="StarDate" type="date">
            <input id="EndDate" type="date">
            <input id="renewDDZL" type="button" value="取得订单">
            <label id="ddzlCount"></label>
            <label id="pairsCount"></label>
            <!-- 訂單列表 -->
            <div id="divDT" style="height: 600px; overflow:auto">
                <table id="DDZLTable">
                    <tr>
                        <th>订单编号</th>
                        <th>鞋型</th>
                        <th>色号</th>
                        <th>ARTICLE</th>
                        <th>接单日期</th>
                        <!-- <th>生产上线日</th> -->
                        <th>鞋厂交期</th>
                        <th>双数</th>
                    </tr>
                </table>
            </div>
        </section>
        <!-- 右半頁內容 -->
        <section class="second">
            <div><br><br><br>
                <table id="DDZLSTable">
                    <tr>
                        <th>尺寸</th>
                        <th>双数</th>
                    </tr>
                </table>
            </div>
        </section>
    </div>

</body>
<!-- 配合 Thymeleaf的寫法、從static位置後開始寫、連同靜態編輯一起引入 -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" src="../static/js/jquery-3.6.0.min.js"></script>
<script th:src="@{./js/DDZL.js}" src="../static/js/DDZL.js"></script>
<!-- blockUI 每個分頁都要加入不然會出錯 -->
<script type="text/javascript" th:src="@{/js/jquery.blockUI.js}" src="../static/js/jquery.blockUI.js"></script>