<body>
    <!--
        /**
        * @author CXY
        * @version Create Time:2022年5月6日
        * @Description 前段进入点
        *
        */
    -->
    <nav>
        <ul class="drop-down-menu">
            <li><a id="" href="#">订单管理 &#8609;</a>
                <ul>
                    <li><a id="DDZL" href="#">订单資料檢視</a></li>
                    <!-- <li><a id="ZLZL" href="#">订单鞋型合并</a></li> -->
                </ul>
            </li>
            <li><a id="" href="#">派工作业 &#8609;</a>
                <ul>
                    <li><a id="PGZL" href="#">萬馬力派工作业</a></li>
                    <li><a id="PGZLdc" href="#">大&emsp;車派工作业</a></li>
                    <li><a id="" href="#">油&emsp;压派工作业</a></li>
                    <!-- Rough-打粗 -->
                    <li><a id="PGZLrg" href="#">打&emsp;粗派工作业</a></li>
                    <!-- SlipSole-鞋墊 -->
                    <li><a id="PGZLsl" href="#">鞋&emsp;墊派工作业</a></li>
                    <li><a id="PGZLS1" href="#">領料單列印作业</a></li>
                </ul>
            </li>
            <li><a id="" href="#"></a></li>
            <li><a id="" href="#"></a></li>
            <li><a id="" href="#"></a></li>
        </ul>
    </nav>
</body>
<!-- 配合 Thymeleaf的寫法、從static位置後開始寫、連同靜態編輯一起引入 -->
<script th:src="@{./js/manager.js}" src="../static/js/manager.js"></script>
</body>